# configuration settings for build.sh
#
# Note: the CloudFront Distribution ID is: E3F1S4UT6HL4SM
#
# files to copy from root to build folder:
#
BUILD_SOURCES="app.js index.html package.json placeholder-image.png images"
#
# sed find/replace settings:
#
SED_SOURCE_FILE="index.html"
SED_SEARCH_STRING="src=\"images\/"
SED_REPLACE_STRING="src=\"\/\/d3nrnh1vi0uusr.cloudfront.net\/"
